doctype html
<!-- history page: users can see their order history here -->
html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees - Order History">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="games, gaming, online games, digital, store">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>        
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="menu-logged-out" href="/signup">Sign Up</a>
            <a class="menu-logged-out" href="/login">Log In</a>
            <a class="menu-logged-in" href="/signout">Log Out</a>
            <a class="menu-logged-in" href="/account">Account Settings</a>
            <a class="menu-logged-in" href="/history">Order History</a>
        </nav>
        
        <!-- banner -->
        <img id="index-banner" src="/images/index/banner-small.jpg" alt="index banner">
        
        <!-- introduction -->
        <header>
            <h1 id="page-title">Order History</h1>
            <h2>Check out all your previous orders on this page.</h2>
        </header>
        <!-- main content page -->  
        <main>
            <section>
                <h2>Your order history:</h2>
                <p id="history"></p>
            </section>
        </main>
        <footer>
            <h3>©GeeGees 2018 - Created by Renzo Schindeler & Rick Boumans</h3>
        </footer>

        <!-- scripts -->
        <script type="text/javascript" src="scripts/adjustNavBar.js"></script>
        <script type="text/javascript" src="scripts/getHistoryScript.js"></script>
    </body>
</html>