doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="games, gaming, online games, digital, store">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>        
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="menu-logged-out" href="/signup">Sign Up</a>
            <a class="menu-logged-out" href="/login">Log In</a>
            <a class="menu-logged-in" href="/signout">Log Out</a>
            <a class="menu-logged-in" href="/account">Account Settings</a>
            <a class="menu-logged-in" href="/history">Order History</a>
            <form id="search-bar">
                <button type="submit">Search</button>
                <input type="text" placeholder="Search Games...">
            </form>   
        </nav>

        <!-- banner -->
        <img id="index-banner" src="/images/index/banner.jpg" alt="index banner">

        <!-- introduction -->
        <header>
            <h1 id="page-title">GeeGees</h1>
            <h2>Welcome to our webshop!</h2>
        </header>

        <!-- main content page -->  
        <main>
            <aside class="dropdown">
                <p>Sort by:</p>
                <select name="sort-by" >
                    <option value="alphabet">Alphabetical Order</option>
                    <option value="price-increasing">Price Increasing</option>
                    <option value="price-decreasing">Price Decreasing</option>         
                </select>               
            </aside>
            
            <section id="confirmation-screen"> 
                <h3>Are you sure you want to buy this product?</h3>
                <form>
                    <button id="confirm" type="submit">Confirm</button> 
                    <button id="cancel" type="submit">Cancel</button>  
                </form> 
            </section>
            
            <section class="product-field">
                <h3>Rocket League</h3>
                <h4>07/07/2015 - Psyonix - Racing</h4>
                <h3>€19,99</h3>
                <img src="/images/products/rocketleague.jpg" alt="game avatar">
                <form>
                    <button type="submit">Buy</button>  
                </form>   
            </section>
            
            <section id="catalogue">

            </section>            
        </main>
        <footer>
            <h3>©GeeGees 2018 - Created by Renzo Schindeler & Rick Boumans</h3>
        </footer>

        <!-- scripts -->
        <script type="text/javascript" src="scripts/adjustNavBar.js"></script>
        <script type="text/javascript" src="scripts/displayProducts.js"></script>    
    </body>
    
</html>