doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees - Home">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="games, gaming, online games, digital, store">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>        
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="menu-logged-out" href="/signup">Sign Up</a>
            <a class="menu-logged-out" href="/login">Log In</a>
            <a class="menu-logged-in" href="/signout">Log Out</a>
            <a class="menu-logged-in" href="/account">Account Settings</a>
            <a class="menu-logged-in" href="/history">Order History</a>
            <form id="search-form">
                <input id="search-bar" type="text" placeholder="Search Games...">
            </form>   
        </nav>

        <!-- banner -->
        <img id="index-banner" src="/images/index/banner.jpg" alt="index banner">

        <!-- introduction -->
        <header>
            <h1 id="page-title">GeeGees</h1>
            <h2>Welcome to our webshop!</h2>
        </header>

        <!-- main content page -->  
        <main>
            <aside class="filters">
                <form id="filters-form">
                    <h4>Sort by:</h4>
                    <select id="sort" name="sort-by" >
                        <option value="alphabet">Alphabetical Order</option>
                        <option value="price-increasing">Price Increasing</option>
                        <option value="price-decreasing">Price Decreasing</option>         
                    </select> 
                    <h4>Filter results:</h4>
                    <h5>Genre</h5>
                    <input type="checkbox" id="action" name="action" checked>
                    <label for="action">action</label><br>
                    <input type="checkbox" id="adventure" name="adventure" checked>
                    <label for="adventure">adventure</label><br>
                    <input type="checkbox" id="horror" name="horror" checked>
                    <label for="horror">horror</label><br>
                    <input type="checkbox" id="interactivefilm" name="interactivefilm" checked>
                    <label for="interactivefilm">interactive film</label><br>
                    <input type="checkbox" id="mmorpg" name="mmorpg" checked>
                    <label for="mmorpg">mmorpg</label><br>
                    <input type="checkbox" id="platformer" name="platformer" checked>
                    <label for="platformer">platformer</label><br>
                    <input type="checkbox" id="rpg" name="rpg" checked>
                    <label for="rpg">rpg</label><br>
                    <input type="checkbox" id="racing" name="racing" checked>
                    <label for="racing">racing</label><br>
                    <input type="checkbox" id="shooter" name="shooter" checked>
                    <label for="shooter">shooter</label><br>
                    <input type="checkbox" id="sports" name="sports" checked>
                    <label for="sports">sports</label><br>
                    <input type="checkbox" id="strategy" name="strategy" checked>
                    <label for="strategy">strategy</label><br>

                    <h5>Publisher</h5>
                    <input type="checkbox" id="ubisoft" name="ubisoft" checked>
                    <label for="ubisoft">ubisoft</label><br>
                    <input type="checkbox" id="telltale" name="telltale" checked>
                    <label for="telltale">telltale games</label><br>
                    <input type="checkbox" id="teammeat" name="teammeat" checked>
                    <label for="teammeat">team meat</label><br>
                    <input type="checkbox" id="studiomdhr" name="studiomdhr" checked>
                    <label for="studiomdhr">studio mdhr</label><br>
                    <input type="checkbox" id="redbarrels" name="redbarrels" checked>
                    <label for="redbarrels">red barrels</label><br>
                    <input type="checkbox" id="pubgcorporation" name="pubgcorporation" checked>
                    <label for="pubgcorporation">pubg corporation</label><br>
                    <input type="checkbox" id="nintendo" name="nintendo" checked>
                    <label for="nintendo">nintendo</label><br>
                    <input type="checkbox" id="monolith" name="monolith" checked>
                    <label for="monolith">monolith</label><br>
                    <input type="checkbox" id="guerrillagames" name="guerrillagames" checked>
                    <label for="guerrillagames">guerrilla games</label><br>
                    <input type="checkbox" id="ghostgames" name="ghostgames" checked>
                    <label for="ghostgames">ghost games</label><br>
                    <input type="checkbox" id="fromsoftware" name="fromsoftware" checked>
                    <label for="fromsoftware">from software</label><br>
                    <input type="checkbox" id="firaxisgames" name="firaxisgames" checked>
                    <label for="firaxisgames">firaxis games</label><br>
                    <input type="checkbox" id="ensemblestudios" name="ensemblestudios" checked>
                    <label for="ensemblestudios">ensemble studios</label><br>
                    <input type="checkbox" id="ea" name="ea" checked>
                    <label for="ea">electronic arts</label><br>
                    <input type="checkbox" id="elinemedia" name="elinemedia" checked>
                    <label for="elinemedia">e-line media</label><br>
                    <input type="checkbox" id="dontnod" name="dontnod" checked>
                    <label for="dontnod">dontnod entertainment</label><br>
                    <input type="checkbox" id="crystaldynamics" name="crystaldynamics" checked>
                    <label for="crystaldynamics">crystal dynamics</label><br>
                    <input type="checkbox" id="cdprojektred" name="cdprojektred" checked>
                    <label for="cdprojektred">cd projekt red</label><br>
                    <input type="checkbox" id="bungie" name="bungie" checked>
                    <label for="bungie">bungie</label><br>
                    <input type="checkbox" id="blizzard" name="blizzard" checked>
                    <label for="blizzard">blizzard</label><br>
                    <input type="checkbox" id="activision" name="activision" checked>
                    <label for="activision">activision</label><br>
                    <h5>Price range</h5>
                    <p>Minimum price:</p>
                    <input id="price-min" type="number" value='0'>
                    <p>Maximum price:</p>
                    <input id="price-max" type="number" value='100'>
                    <button id="reset" type="reset">Reset filters</button>                    
                </form>
            </aside>
            
            <section id="confirmation-screen"> 
                <h3 id="confirmation-text">Are you sure you want to buy this product?</h3>
                <form id="confirmation-form">
                    <button type="button" id="confirm">Confirm</button> 
                    <button type="button" id="cancel">Cancel</button>  
                </form> 
            </section>
                                   
            <section id="catalogue">

            </section>     
            <button id="load-more-button">Load more products</button>       
        </main>
        <footer>
            <h3>©GeeGees 2018 - Created by Renzo Schindeler & Rick Boumans (Group 19)</h3>
        </footer>

        <!-- scripts -->
        <script type="text/javascript" src="scripts/adjustNavBar.js"></script>
        <script type="text/javascript" src="scripts/displayProducts.js"></script>    
        <script type="text/javascript" src="scripts/purchaseButtonScript.js"></script>  
    </body>  
</html>