doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees - Home">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="games, gaming, online games, digital, store">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>        
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="menu-logged-out" href="/signup">Sign Up</a>
            <a class="menu-logged-out" href="/login">Log In</a>
            <a class="menu-logged-in" href="/signout">Log Out</a>
            <a class="menu-logged-in" href="/account">Account Settings</a>
            <a class="menu-logged-in" href="/history">Order History</a>
            <form id="search-form">
                <input id="search-bar" type="text" placeholder="Search Games...">
            </form>   
        </nav>

        <!-- banner -->
        <img id="index-banner" src="/images/index/banner.jpg" alt="index banner">

        <!-- introduction -->
        <header>
            <h1 id="page-title">GeeGees</h1>
            <h2>Welcome to our webshop!</h2>
        </header>

        <!-- main content page -->  
        <main>
            <aside class="filters">
                <form id="filters-form">
                    <h4>Sort by:</h4>
                    <select id="sort" name="sort-by" >
                        <option value="alphabet">Alphabetical Order</option>
                        <option value="price-increasing">Price Increasing</option>
                        <option value="price-decreasing">Price Decreasing</option>         
                    </select> 
                    <h4>Filter results:</h4>
                    <h5>Genre</h5>
                    <input type="checkbox" id="action" name="action" checked>
                    <label for="action">action</label>
                    <input type="checkbox" id="shooter" name="shooter" checked>
                    <label for="shooter">shooter</label>
                    <input type="checkbox" id="racing" name="racing" checked>
                    <label for="racing">racing</label>
                    <input type="checkbox" id="platformer" name="platformer" checked>
                    <label for="platformer">platformer</label>
                    <input type="checkbox" id="sports" name="sports" checked>
                    <label for="sports">sports</label>
                    <input type="checkbox" id="othergenre" name="othergenre" checked>
                    <label for="othergenre">other</label>
                    <h5>Publisher</h5>
                    <input type="checkbox" id="activision" name="activision" checked>
                    <label for="activision">activision</label>
                    <input type="checkbox" id="ubisoft" name="ubisoft" checked>
                    <label for="ubisoft">ubisoft</label>
                    <input type="checkbox" id="ea" name="ea" checked>
                    <label for="ea">electronic arts</label>
                    <input type="checkbox" id="nintendo" name="nintendo" checked>
                    <label for="nintendo">nintendo</label>
                    <input type="checkbox" id="otherpublisher" name="otherpublisher" checked>
                    <label for="otherpublisher">other</label>
                    <h5>Price range</h5>
                    <p>Minimum price:</p>
                    <input id="price-min" type="number">
                    <p>Maximum price:</p>
                    <input id="price-max" type="number">
                    <button id="reset" type="reset">Reset filters</button>                    
                </form>
            </aside>
            
            <section id="confirmation-screen"> 
                <h3 id="confirmation-text">Are you sure you want to buy this product?</h3>
                <form id="confirmation-form">
                    <button type="button" id="confirm">Confirm</button> 
                    <button type="button" id="cancel">Cancel</button>  
                </form> 
            </section>
                                   
            <section id="catalogue">

            </section>     
            <button id="load-more-button">Load more products</button>       
        </main>
        <footer>
            <h3>©GeeGees 2018 - Created by Renzo Schindeler & Rick Boumans (Group 19)</h3>
        </footer>

        <!-- scripts -->
        <script type="text/javascript" src="scripts/adjustNavBar.js"></script>
        <script type="text/javascript" src="scripts/displayProducts.js"></script>    
        <script type="text/javascript" src="scripts/purchaseButtonScript.js"></script>  
    </body>  
</html>