doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a id="active-page" href="/">Home</a>
            <a href="/account">My Account</a>
            <input type="text" placeholder="Search Games">
        </nav>
        
        <img id="index-banner" src="/images/index/banner.jpg" alt="index banner">

        <!-- introduction -->
        <header>
            <h1 id="page-title">GeeGees</h1>
            <h2>Welcome to our webshop!</h2>
        </header>
        <!-- main content page -->  
        <main>
            <aside>
                <p>Sort by:</p>
                <select name="sort-by" >
                    <option value="alphabet">Alphabetical Order</option>
                    <option value="price-increasing">Price Increasing</option>
                    <option value="price-decreasing">Price Decreasing</option>         
                </select>               
            </aside>
            
            <h2>Our products</h2>

            <section class="product-field">
                <h3>Game Title</h3>
                <h4>Release date - Publisher</h4>
                <img src="#" alt="game avatar">
                <p>Short explanation of how awesome this game is.</p>
            </section>
        </main>
    </body>
</html>