doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    </head>
    <body>
        <!-- main content page -->  
        <main>
            <form method="post">
                <fieldset>   
                    <legend>Log In:</legend> 
                    <p>Username:</p>
                    <input type="text" name="username" placeholder="Username" required>
                    <p>Password:</p>
                    <input type="password" name="password" placeholder="Password" required>
                    <p id="login-error-message">#{error}</p>
                    <input type="submit" value="Log In">
                    <p>Don't have an account yet? <a href="/signup">Sign up here.</a></p>
                </fieldset>
            </form>
        </main>
    </body>
</html>