doctype html

html.
    <head>
        <meta charset = "utf-8">
        <meta name="title" content="GeeGees">
        <meta name="description" content="Your Online Gamestore">
        <meta name="keywords" content="games, gaming, online games, digital, store">
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    </head>
    <body>
        <!-- top nav menu -->
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="menu-logged-out" href="/signup">Sign Up</a>
            <a class="menu-logged-out" href="/login">Log In</a>
            <a class="menu-logged-in" href="/signout">Log Out</a>
            <a class="menu-logged-in" href="/account">Account Settings</a>
            <a class="menu-logged-in" href="/history">Order History</a>
            <form id="search-bar">
                <button type="submit">Search</button>
                <input type="text" placeholder="Search Games...">
            </form>   
        </nav>
        <!-- introduction -->
        <header>
            <h1 id="page-title">Sign Up</h1>
            <h2>Create an account here.</h2>
        </header>
        <!-- main content page -->  
        <main>
            <fieldset>   
                <legend>Sign Up:</legend> 
                <p>Username:</p>
                <input type="text" name="username" placeholder="Username" required>
                <p>E-mail address:</p>
                <input type="email" name="email" placeholder="E-mail address" required>
                <p>First Name:</p>
                <input type="text" name="firstname" placeholder="First Name" required>
                <p>Last Name:</p>
                <input type="text" name="lastname" placeholder="Last Name" required>
                <p>Password (use at least 5 characters):</p>
                <input minlength="5" type="password" name="password" placeholder="Password" required>
                <p>Confirm Password:</p>
                <input minlength="5" type="password" name="confirmpassword" placeholder="Password" required>
                <p id="login-error-message">#{error}</p>
                <input type="submit" value="Sign Up">
                <p>Already have an account? <a href="/login">Log in here.</a></p>
            </fieldset>
        </main>
        <footer>
            <h3>©GeeGees 2018 - Created by Renzo Schindeler & Rick Bouman</h3>
        </footer>
    </body>
</html>