/* Style of all elements on the website */

* {
    font-family: 'Alef';
    color: rgb(24, 24, 24);
}

body {
    margin: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(220, 220, 220);
}

h1 { margin-left: 20px; color: rgb(220, 220, 220); }

h2 { margin-left: 20px; color: rgb(220, 220, 220); }

h3 { margin-left: 20px; color: rgb(220, 220, 220); }

h4 { margin-left: 20px; color: rgb(220, 220, 220); }

h5 { margin-left: 20px; color: rgb(220, 220, 220); line-height: 1.6px; }

p { padding: 0; margin-left: 20px; color: rgb(220, 220, 220); }

main { 
    color: rgb(220, 220, 220); 
    width: 75;
}

footer {
    width: 100%;
    height: 75px;
    background-color: rgb(7, 7, 7);
}

footer h3 {
    font-size: 80%;
    padding-top: 20px;
    text-align: center;
}

header {
    width: 100%;
    height: 120px;
    background-color: rgb(17, 17, 17);
}

aside {
    width: 90%;
    background-color: rgba(0, 140, 255, 0.5);
    color: gray;
    margin: 20px;
    padding: 20px;
    height: 300px; 
    overflow-y: scroll;
}

#reset {
    background-color: rgb(0, 153, 255);
    color: white;
    border: 0;
}

#index-banner {
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    z-index: 0;
    border-bottom: 2px solid rgb(0, 140, 255);
}

.topnav {
    z-index: 1;
    position: fixed;
    top: 99;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 5px 20px rgba(26, 26, 26, 0.2);
    width: 100%;
    border-bottom: 2px solid rgb(0, 140, 255);
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 110%;
}

.topnav a:hover {
    background-color: rgba(64, 169, 255, 0.5);
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 23px;
    margin-right: 20px;
    font-size: 120%;
    border-bottom: 2px solid rgb(0, 140, 255);
}

#search-form button {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 23px;
    margin-right: 20px;
    height: 40px;
    width: 60px;
    background-color: rgb(0, 140, 255);
}

.topnav a:hover {
    
    color: rgb(255, 255, 255);
}

.nav-button {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 30px 40px;
    border: 0;
    text-decoration: none;
    font-size: 110%;
}

.nav-button:hover {
    background-color: rgba(64, 169, 255, 0.5);
    cursor: pointer;
}

#load-more-button {
    background-color: rgb(0, 140, 255);
    color: white;
    width: 400px;
    height: 75px;
    font-size: 135%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.product-field {
    display: inline-grid;
    width: 250px;
    height: 550px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(17, 17, 17);
    border-bottom: 2px solid rgb(0, 140, 255);
    box-shadow: 0 5px 50px rgba(26, 26, 26, 0.2);
}

.product-field img {
    width: 250px;
    height: 250px;
}

.product-field button {
    width: 250px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: 0;
    font-size: 120%;
}

.product-field button:disabled {
    width: 250px;
    height: 50px;
    background-color: rgb(170, 170, 170);
    color: rgb(34, 34, 34);
    border: 0;
    font-size: 120%;
}

.product-field button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(153, 206, 250);
}

.product-field h3 {
    margin: 10px;
    color: rgb(0, 140, 255);
}

.product-field h4 {
    margin: 10px;
}

.product-field h5 {
    margin: 8px;
}

#confirmation-screen {
    display: none;
    top: 0;
    left: 0;
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#confirmation-screen h3 {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 35%;
    font-size: 150%;
}

#confirmation-screen button {
    
    display: inline-grid;
    width: 200px;
    height: 100px;
    font-size: 200%;
    border: 0;
}

#confirmation-form {
    position: fixed;
    top: 50%;
    left: 40%;
}

#cancel {
    background-color: red;
    color: white;
}

#confirm {
    background-color: rgb(0, 153, 255);
    color: white;
}

#signup-forms-container { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-auto-columns: auto;
}

#signup-forms-container p {
    line-height: 80%;
    font-size: 110%;
}

.sign-up-forms {
    padding: 20px;
    background-color: rgba(200,200,200,0.6);
}

.info-form {
    margin-left: 20px;
}

.info-form legend {
    color: rgb(0, 153, 255);
}

.info-form a {
    color: rgb(0, 153, 255);
}

.info-form input {
    font-size: 100%;
    border: 0;
    border-bottom: 2px solid rgb(0, 140, 255);
}

#login-error-message {
    color: red;
}

#changes-error-message {
    color: red;
}

#changes-succes-message {
    color: rgb(102, 255, 0);
}